<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Registration</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<h1>Create User</h1>
<body>

	<form action="#" th:action="@{/user/register}" th:object="${user}" method="POST">

			User Id : <input type="text" th:field="*{userId}" /> <label th:if="${#fields.hasErrors('userId')}" th:class="'error'">Enter userId</label> 
			<br/>
			First Name : <input type="text" th:field="*{firstName}" /> <label th:if="${#fields.hasErrors('firstName')}" th:class="'error'">Enter firstName</label> 
			<br/>
			Last Name : <input type="text" th:field="*{lastName}" /> <label th:if="${#fields.hasErrors('lastName')}" th:class="'error'">Enter lastName</label> 
			<br/>
			Password : <input type="password" th:field="*{password}" /> <label th:if="${#fields.hasErrors('password')}" th:class="'error'">Enter Password</label>
			 <br/>
			Role : <input type="radio" th:field="*{role}" value="ADMIN"/><label>ADMIN</label>
	    	<input type="radio" th:field="*{role}" value="USER"/><label>USER</label>
			<label th:if="${#fields.hasErrors('role')}" th:class="'error'">Select Role</label>
			<br/>
			Enabled : <input type="radio" th:field="*{enabled}" value="1"/><label>Yes</label>
	    	<input type="radio" th:field="*{enabled}" value="0"/><label>No</label>
			<label th:if="${#fields.hasErrors('enabled')}" th:class="'error'">Select user enable or not</label>
			<br/>
			<input type="submit" th:value="Submit"/> 
			<input type="reset" th:value="Reset"/>

	</form>

</body>

</html>